:root {
  font-family: Nunito, serif;
  font-size: 1.5rem;
  color: white;
}
.container,
.heading,
.subheading,
.paragraph,
.link,
.separator,
.author,
.logo-link {
  transition: ease-in-out all 0.3s;
}
.container {
  background-color: transparent;
  padding: 2rem;
  width: 40%;
  border-right: none;
}
.container:hover {
  background-color: darkslateblue;
  border-right: 1rem solid yellow;
}
.container:hover > .heading,
.container:hover > .subheading {
  text-shadow: none;
}
.container:hover > .paragraph,
.container:hover > .link {
  background-color: transparent;
}
.container:hover > .separator {
  box-shadow: none;
}
.container:hover > .subheading,
.container:hover > .link,
.container:hover > .author {
  color: yellow;
}
.container:hover > .logo-link {
  background-color: transparent;
}
.heading,
.subheading {
  text-shadow: 0 0 0.2rem black;
}
.heading {
  font-size: 3rem;
}
.author {
  text-decoration: underline;
}
.logo-link {
  display: inline-block;
  background-color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 0.2rem;
}
.link {
  text-decoration: none;
  color: white;
  background-color: black;
}
.logo {
  width: 100%;
  height: 100%;
}
.separator {
  border: 0.2rem solid white;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.2rem black;
}
.body {
  background-image: url(https://picsum.photos/1600/900);
  background-attachment: fixed;
}
.paragraph {
  background-color: black;
}
.author,
.subheading {
  color: white;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}
.video-wrapper > .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
